name: Perform Manual Backport Audit

on:
  schedule:
  - cron: '0 16 * * 3'

jobs:
  audit:
    name: Perform  Manual Backport Audit
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: main
    - name: Check PRs needing manual backport
      uses: ./
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        ACTION_TYPE: 'needs-manual'