name: Perform Unreleased Audit

on:
  schedule:
  - cron: '0 16 * * 1'

jobs:
  audit:
    name: Perform Unreleased Audit
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: main
    - name: Check unreleased commits
      uses: ./
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        ACTION_TYPE: 'unreleased'